h1{
    color: red;
    text-align: center;
    background-color: black;
}
p{
    color: black;
    text-align: end;
}
td, th {
    border: 1px solid black;
}
th{
    background-color: black;
    color: red;
}
