h1{
    color: black;
    
}
td, th {
    border: 1px solid black;
}
th{
    background-color: cornflowerblue;
    color: white;
}
.header {
    padding: 10px 20px;
    background: #acb3b9;
}
}
body {
    font: 14px Arial,sans-serif;
    margin: 0px;
}
.ropade{
    background-color: aqua;
    color: white;
}